<!DOCTYPE html>
<html lang="es">
<head>
	<title>Venta de Laptops</title>
</head>


<body>
    	<h1><center>El Universo de Laptops</center></h1>
	
	<h3><center>Informacion</center></h3>

	<p> Expande tus posibilidades
Todas nuestras laptops estan diseñadas para que puedas configurarlas según tus necesidades exactas. Asegurate de tener una transición sin complicaciones hacia una solución fiable con el mejor rendimiento galardonado y costos de operación bajos con nuestras laptops de alta calidad. </p>

<p> Elige uno de los modelos que mas se adecuen a tu trabajo.
Inicia hoy mismo el cambio de tu laptop antigua por una nueva.
No esperas mas tiempo, llevate el mejor de nuestros productos,
con el mejor descuento. </p>

<p> Pantalla Full HD<br>
Disfruta de una experiencia visual excepcional gracias a su pantalla Full HD, la calidad de imagen te asegura que cada detalle se vea con la precisión necesaria para trabajar y disfrutar al máximo. </p>

<p> Nuestras laptops cuentan además con un sistema de refrigeración mejorado para que mantengan un rendimiento óptimo. El panel de todas las portátiles es FULL HD y ofrece colores increíblemente vívidos y en ángulos de visión más amplios para la mejor experiencia de visualización en su pantalla de 15.6", y si desea visualizar contenidos en más de una pantalla, lo puede hacer ya que estas laptops admite hasta 2 monitores adicionales a través del puerto HDMI y Display-Port para que pueda explorar mundos fantásticos en un impresionante sonido envolvente. </p>

<h3><center>Modelos</center></h3>
<li>Modelo 1</li> <li>Modelo 2</li> <li>Modelo 3</li> 

<h4>Modelo 1</h4>
<img src="./im3.jpg" width="20%">

<p>
<b>Caracteristicas del Modelo 1:<br>
AIO PrimeOne 240<br>
Desde S/2,781.00</b><br>
<b>Procesador: </b>Intel Core i3-13100 3.4GHz<br>
<b>Pantalla: </b>23.8" 1920x1080p FHD<br>
<b>Almacenamiento: </b>500GB M.2<br>
<b>RAM: </b>16GB DDR5<br>
<b>Cámara: </b>Full HD (5M) 2560 x 1920p<br>
<b>Incluye: </b>Teclado y Mouse<br>
</p>

<h4>Modelo 2</h4>
<img src="./im4.jpg" width="20%">

<p>
<b>Caracteristicas del Modelo 1:<br>
AIO PrimeOne 270<br>
Desde S/3,117.00</b><br>
<b>Procesador: </b>Intel Core i5-14400 2.5GHz<br>
<b>Pantalla: </b>27" 1920x1080p FHD<br>
<b>Almacenamiento: </b>500GB M.2<br>
<b>RAM: </b>16GB DDR5<br>
<b>Cámara: </b>Full HD (5M) 2560 x 1920p<br>
<b>Incluye: </b>Teclado y Mouse<br>
</p>

<h4>Modelo 3</h4>
<img src="./im6.jpg" width="20%">

<p>
<b>Caracteristicas del Modelo 1:<br>
AIO PrimeOne 290<br>
Desde S/3,00.00</b><br>
<b>Procesador: </b>Intel Core i5-14400 2.8GHz<br>
<b>Pantalla: </b>25" 1920x1080p FHD<br>
<b>Almacenamiento: </b>500GB M.2<br>
<b>RAM: </b>16GB DDR5<br>
<b>Camara: </b>Full HD (5M) 2560 x 1920p<br>
<b>Incluye: </b>Teclado y Mouse<br>
</p>

<br><br><br>
<p><center>
<button>Contacta con nosotros</button>
</center></p>

</body>


</html>
